{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}


{% block pagestyle %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}

<h2>Ventilators</h2>


<table style="border: 1px solid black">
    <tr>
      <th>Ventilators</th>
      <th>Location</th>
    </tr>
    {% for v in vents %}
    <tr>
      <td>
        {% if v.is_registered %}
          {% if v.is_error %} 
            <font color="red"> <a href="{% url 'vent' v.id %}">{{ v.name }}</a> </font>
          {% else %}
            <font color="green"><a href="{% url 'vent' v.id %}">{{ v.name }}</a></font>
          {% endif %}
         {% else %}
            <font color="gray">{{ v.name }}</font>
         {% endif %}
      </td>
      <td>
        {{ v.location }}        
      </td>
    </tr>
    {% endfor %}
</table> 

Auto refresh in every 30 seconds.

{% endblock %}
